@CHARSET "ISO-8859-1";
body{
	background:url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
a{
    color: orange !important;
}

.menubar{
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-top: 50px;
    opacity: 0.6;
    width: 160px;
}

.logo{
	background: url('../images/Shakti Granite.jpg');
	background-size:contain;
	background-repeat:no-repeat;
	height:100px;
	width:150px;
	margin-top:50px;
}

.homeContainer
{	
	margin-top:100px;

	/* background-color:red; */
	
}

.homeHead
{
	position: relative;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	
}

.slogan{

    font-family: cursive;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    color: wheat;
    margin-top: 96px;


}

.listMenu{

    background-color: #43403e;
    color: orangered;
}

.sloganSpan{

    font-size: xx-large;
    font-family: "Arial Black";
}

div#carousel {
    perspective: 1200px;
    background: #100000;
    padding-top: 10%;
    font-size:0;
    margin-bottom: 3rem;
    overflow: hidden;
}
figure#spinner {
    transform-style: preserve-3d;
    height: 300px;
    transform-origin: 50% 50% -500px;
    transition: 1s;
}
figure#spinner img {
    width: 40%; max-width: 425px;
    position: absolute; left: 30%;
    transform-origin: 50% 50% -500px;
    outline:1px solid transparent;
}
figure#spinner img:nth-child(1) { transform:rotateY(0deg);
}
figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner img:nth-child(8){ transform: rotateY(-315deg);}
figure#spinner img:nth-child(9){ transform: rotateY(-360deg);}
figure#spinner img:nth-child(10){ transform: rotateY(-45deg); }
/* div#carousel ~ span { */
.ss-icon{
    color: #fff;
    margin: 5%;
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    transition: 0.6s color;
    position: relative;
    margin-top: 10rem;
    border-bottom: none;
    line-height: 0; 
    z-index: 3;
   /*  height:100px;
    width:100px;
    background-color: red; */
    }
/* div#carousel ~ span:hover */ 
.ss-icon:HOVER
{ color: #888; cursor: pointer; }

.home2Container
{
	/*margin-top:200px;*/
	
}

.container {
  margin-top: 100px;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  background: #000;
  width: 250px;
  height: 200px;
  line-height: 200px;
  font-size: 3em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
}

.a {
  transform: rotateY(0deg) translateZ(250px);
  /*background: #ed1c24;*/
       background: url("../images/rbi.jpg");
}
.b {
  transform: rotateY(60deg) translateZ(250px);
  /*background: #0072bc;*/
    background: url("../images/coco.jpg");
}
.c {
  transform: rotateY(120deg) translateZ(250px);
  /*background: #39b54a;*/
    background: url("../images/blue.jpg");
}
.d {
  transform: rotateY(180deg) translateZ(250px);
  /*background: #f26522;*/
    background: url("../images/royal2.jpg");
}
.e {
  transform: rotateY(240deg) translateZ(250px);
  /*background: #630460;*/
    background: url("../images/cateyes.jpg");
} 
.f {
  transform: rotateY(300deg) translateZ(250px);
  /*background: #8c6239;*/
    background: url("../images/green.jpg");
}


.next, .prev {
  color: #444;
  position: absolute;
  top: 300px;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}
/*.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  top: 104px;
  box-shadow: 0 1px 0 #999;
}*/
.next { right: 5em; }
.prev { left: 5em; }

.contactDetails{

    margin-top: 150px;
    margin-left: 60px;
}
.content{
    color: darkred;
    font-family: Courier;
    font-size: larger;
    font-weight: bolder;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.numbers{
font-family: Courier;
font-weight: bold;

}

.company-shakti{
    margin-top: 75px;
    width:1000px;
    height: 500px;
    border: 1px solid;

}

ul{
    padding: 0px !important;
}


.company-shakti ul.company-list{
    border-style: none !important ;
    list-style-type: none;

}

.company-shakti ul.company-list li{

   /*width: 50%;*/
    text-align: center;
    display: inline;

}

.company-data{
    float: left;
    width: 499px;
    text-align: center;
    color: #fff;
    font-family: cursive;
    font-weight: bolder;
    font-size: large;
    border: 1px solid;

}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus


.contactPerson{

}

.panel:hover {

    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.message{
    width: 50%;
    text-align: center;
    font-family: cursive;
    font-size: large;
    font-weight: bolder;
    color: wheat;
    margin-top: 55px;
    margin-left: 280px;
}

.productMessage{

    text-align: center;
    font-family: cursive;
    font-size: large;
    font-weight: bolder;
    color: wheat;
    margin-top: 5px;
    /*margin-left: 215px;*/
}

.productMessage1{

    text-align: center;
    font-family: cursive;
    font-size: large;
    font-weight: bolder;
    color: wheat;

    /*margin-left: 215px;*/
}


.dialogdemoBasicUsage #popupContainer {
  position: relative; }
.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }
.dialogdemoBasicUsage button {
  width: 200px; }
.dialogdemoBasicUsage div#status {
  color: #c60008; }
.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0; }
  
 .layout-row
 {
 background: none !important;
 }
 
 .productsContainer
 {
 margin-top: 10px;
 overflow: auto;
 }



.photo-grid {
    margin: 1em auto;
    max-width: 1106px;
    text-align: center;
}

.photo-grid li {
    border: 5px solid white;
    display: inline-block;
    margin: 10px;
    /*width: 200px;*/
}

.photo-grid img {
    display: block;
    height: auto;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    max-width: 100%;
}

.photo-grid figure {
    height: 142px;
    overflow: hidden;
    position: relative;
    width: 200px;
}

.photo-grid figcaption {
    background: rgba(0,0,0,0.8);
    color: white;
    display: table;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms;
    z-index: 100;
}

.photo-grid figcaption p {
    display: table-cell;
    font-size: 1.5em;
    position: relative;
    top: -40px;
    width: 289px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    vertical-align: middle;
}

.photo-grid li:hover figcaption {
    opacity: 1;
}

.photo-grid li:hover img {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    transform: scale(1.4);
}

.photo-grid li:hover figcaption p {
    -moz-transform: translateY(40px);
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
}


.clients{

    color: wheat;
    font-size: large;
    /*font-weight: bold;*/
    font-family: "Arial Black";
    text-align: center;
    margin-top: 40px;
}
