<div class="companyInfo">

    <div class="row">

     <div class="col-md-6 bdLine">

    <div class="whoWeAre">
       <h1> WHO WE ARE </h1>
        <p>PURCHASE EXPERTISE</p>
        <p>LATEST MACHINERY</p>
        <ul>
            <li>
                <figure>
                    <img ng-src="public/images/machinery/1.png" height="100" width="100" alt="Arc de Triomphe">

                </figure>
            </li>
            <li>
                <figure>
                    <img ng-src="public/images/machinery/2.jpg" height="100" width="100" alt="Arc de Triomphe">

                </figure>
            </li>
            <li>
                <figure>
                    <img ng-src="public/images/machinery/3.jpg" height="100" width="100" alt="Arc de Triomphe">

                </figure>
            </li>


        <p>We, at SHAKTI GRANITE(SHAKTI STONE),OFFERS PRODUCTS THAT PROMISE QUALITY AND DURABILITY,ALONG WITH SUPERIOR CLIENT SERVICES,WHICH OFFERS OUR CLIENTS A COMPETITIVE ADVANT AGE & CREATES VALUE FOR THEIR BUSINESS.WE OFFER AN EXTENSIVE RANGE OF GRANITES.</p>



    </div>
         </div>
        <div class="col-md-6">

    <div class="whyUs">
        <h1> WHhy Us </h1>
        <p><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Own quarry</p>
        <p><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Maximum variety of local and other granites</p>
        <p><span class="glyphicon glyphicon-star" aria-hidden="true"></span>All kind of natural granites</p>
        <p><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Modern latest technology</p>
        <p><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Most competitive price</p>
        <p><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Widest nationwide architect base</p>
        <p><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Largest association with top builders</p>
    </div>
</div>
    </div>

</div>