<div class="contactContainer">

<div class="row">
        <div class="col-md-7 addressDetails">

            <h2><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                Address</h2>


                    <ul>
                        <li>
                            <div class="card">
                                <div class="card-block">
                                        <h4 class="card-title">Office</h4>
                                        <p class="card-text">SHAKTI ELECTRICS<br>
                                        C-15,PANCHRATNA<br>
                                        AMIR ROAD<br>
                                        PALANPUR-385001
                                        </p>
                                        <p>(for postal use only)</p>

                                </div>
                            </div>
                         </li>
                         <li>

                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Factory</h4>
                                    <p class="card-text">SHAKTI GRANITE & SHAKTI STONE<br>
                                        OPP SAIBABA TEMPLE,Nr.PATEL HOTEL<br>
                                        ABU ROAD HIGHWAY,<br>PALANPUR,GUJARAT<br>


                                    </p>
                                    <p> CALL:02742-268791</p>

                                </div>
                            </div>
                        </li>
                    </ul>

        </div>
    <div class="col-md-5 contactDetails">
        <h2><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
            Contact</h2>
        <ul>
            <li>
                <p>Mr. Shamalbhai Patel</p>
                <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>   09426012753</p>
            </li>
            <li>
                <p>Mr. Haresh Patel</p>
                <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>   09408789021</p>
            </li>
        </ul>


        </div>
    </div>

</div>


