<div class="contactContainer">

        <div class="contactDetails">




            <!--<div class="row">
                <div class="col-xs-6 col-md-3">
                    <div class="panel panel-default">
                    <div class="panel-heading">
                    <h3 class="panel-title">Office</h3>
                    </div>
                    <div class="panel-body">
                        <div class="contactPerson"><strong>Contact Person:</strong> Shamal Patel</div>
                        <div class="content">C 15 Panchratna Complex,
                            Amir Road Palanpur, Gujarat, India.</div>

                        <div class="numbers"><strong>Phone:</strong> 91 + 2742 + 254591</div>
                    </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Factory</h3>
                        </div>
                        <div class="panel-body">
                            <div class="contactPerson"><strong>Contact Person:</strong> Shamal Patel</div>
                            <div class="content">Shakti Granite Hebatpur Bus Stand
                                Abu Road Hiway Himmatnagar, Gujarat, India</div>

                            <div class="numbers"><strong>Phone:</strong> 91 + 2742 + 284203,284455</div>
                            <div class="numbers"><strong>Mobile:</strong>91 + 9426012753</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Branch Office</h3>
                        </div>
                        <div class="panel-body">
                            <div class="contactPerson"><strong>Contact Person:</strong> Dr. H.S. Yadav</div>
                            <div class="content">Apurva Complex
                                Mahavir Nagar Palace Road,
                                Himmatnagar, Gujarat, India</div>

                            <div class="numbers"><strong>Mobile:</strong> 91 + 9426575620</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>-->

</div>


