

<div class="homeContainer">


    <div>
        <h1 class="ribbon">Shakti Granites</h1>
    <div class="graniteContent">
    <p>Shakti Granite started its activities in the manufracture of mirror polish granite in the year 1996 in N.Gujrat</p>
    <p>It deals exclusively in different king of granites Blocks & Slabs.</p>
    <p>Queries are located in the Vicinity of idar  & Banashakntha distt. of Gujrat.</p>
    </div>
    </div>


 <!--   <div ng-show="isStone">
        <h1>Shakti Stone</h1>
        <div class="graniteContent">
            <p>Shakti Granite started its activities in the manufracture of mirror polish granite in the year 1996 in N.Gujrat</p>
            <p>It deals exclusively in different king of granites Blocks & Slabs.</p>
            <p>Queries are located in the Vicinity of idar  & Banashakntha distt. of Gujrat.</p>
        </div>
    </div>
-->


      <!--  &lt;!&ndash; Indicators &ndash;&gt;
        <ol class="carousel-indicators">
            <li ng-click="showGranite()" class="active"></li>
            <li ng-click="showStone()"></li>

        </ol>-->



</div>