

<div class="homeContainer">
	<!-- 
<div class="homeHead">
<h1 style='color:white'> Home </h1>
</div> -->

	<div class="homeBody">
		<div id="carousel">
			<span style="float: left" class="ss-icon" onclick="galleryspin('-')">&lt;</span>
			<span style="float: right" class="ss-icon" onclick="galleryspin('')">&gt;</span>
			<figure id="spinner">
				<img src="public/images/logo1.jpeg" alt>
				<img src="public/images/logo1.jpeg" alt>
				<img src="public/images/logo1.jpeg" alt>
				<img src="public/images/logo.jpeg" alt>
				<img src="public/images/logo1.jpeg" alt>
				<img src="public/images/logo.jpeg" alt>
				<img src="public/images/logo1.jpeg" alt>
				<img src="public/images/logo.jpeg" alt>
				<img src="public/images/logo1.jpeg" alt>
				<img src="public/images/logo.jpeg" alt>
			</figure>
		</div>

	</div>

	<!-- <div class="homeFooter">
</div> -->
</div>