<div class="ourClientController" >

   <div class="message"> We are dedicated to total customer satisfaction. Further all side’s angles, diagonals &
    thickness are care fully measured in order to provide a complete example of a consistency
    to our customers.
   </div>

    <div class="clients">

        <p>Interstone Global , Anand, India.</p>

        <p>Interstone Global , Atlanta, USA.</p>

        <p> Quality Export , U.K.</p>

        <p> Natural Granite, Ahmedabad.</p>

        <p>Charbhuja Marble, Anand.</p>

        <p> Natural Granite, Banglore.</p>

        <p>Jain Granite, Baroda.</p>

        <p> Arihant Marble, Delhi.</p>

        <p>Natural Granite, Delhi.</p>

        <p>ParasPrabhu Granite, Mumbai.</p>

        <p>Evershain Marble, Surat.</p>
    </div>

</div>
