<div class="productsContainer">
<!--<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="25" layout="column">
      <md-card>
        <img ng-src="public/images/coco.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Action buttons</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
          
        </md-card-content>
        &lt;!&ndash; <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions> &ndash;&gt;
      </md-card>
           
</div>
 </md-content>-->
  <div class="productMessage">Quality is the company’s main motto. Providing the finest machinery & personal
    attendance. We can fulfill costumers satisfaction.
  </div>
<div class="productMessage1">
  We always concentrate on costumer satisfaction. Production is sharply
  monitored at every stage for quality production.</div>

<div>
  <ul class="photo-grid">
    <li>
      <a href="#">
        <figure>
          <img ng-src="public/images/coco.jpg" height="180" width="320" alt="Arc de Triomphe">
          <figcaption><p>COCO</p></figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="#">
        <figure>
          <img ng-src="public/images/green.jpg" height="180" width="320" alt="Eiffel Tower">
          <figcaption><p>GREEN</p></figcaption>
        </figure>
      </a>
    </li>
    <li><a href="#">
      <figure>
        <img ng-src="public/images/rbi.jpg" height="180" width="320" alt="Notre Dame">
        <figcaption><p>RBI</p></figcaption>
      </figure>
    </a>
    </li>

    <li><a href="#">
      <figure>
        <img ng-src="public/images/royal2.jpg" height="180" width="320" alt="Notre Dame">
        <figcaption><p>ROYAL</p></figcaption>
      </figure>
    </a>
    </li>
    <li><a href="#">
      <figure>
        <img ng-src="public/images/cateyes.jpg" height="180" width="320" alt="Notre Dame">
        <figcaption><p>CATEYES</p></figcaption>
      </figure>
    </a>
    </li>
    <li><a href="#">
      <figure>
        <img ng-src="public/images/blue.jpg" height="180" width="320" alt="Notre Dame">
        <figcaption><p>BLUE</p></figcaption>
      </figure>
    </a>
    </li>
    <li><a href="#">
      <figure>
        <img ng-src="public/images/green.jpg" height="180" width="320" alt="Notre Dame">
        <figcaption><p>GREEN</p></figcaption>
      </figure>
    </a>
    </li>
    <li><a href="#">
      <figure>
        <img ng-src="public/images/coco.jpg" height="180" width="320" alt="Notre Dame">
        <figcaption><p>COCO</p></figcaption>
      </figure>
    </a>
    </li>
    <li><a href="#">
      <figure>
        <img ng-src="public/images/rbi.jpg" height="180" width="320" alt="Notre Dame">
        <figcaption><p>RBI</p></figcaption>
      </figure>
    </a>
    </li>

  </ul>
  </div>






 </div>
 
